@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeonTube";
  src: url("/fonts/neon_tube.woff2") format("woff2"),
    url("/fonts/neon_tube.woff") format("woff"),
    url("/fonts/neon_tube.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #1a1a1a;
  --foreground: #f4f4f4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
