@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NeonTube";
  src: url("/fonts/neon_tube.woff2") format("woff2"),
    url("/fonts/neon_tube.woff") format("woff"),
    url("/fonts/neon_tube.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
