@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ChakraPetch";
  src: url("/fonts/ChakraPetch-Regular.woff") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ChakraPetch";
  src: url("/fonts/ChakraPetch-Bold.woff") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ChakraPetch";
  src: url("/fonts/ChakraPetch-Italic.woff") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "ChakraPetch";
  src: url("/fonts/ChakraPetch-BoldItalic.woff") format("truetype");
  font-weight: bold;
  font-style: italic;
}

:root {
  --background: #0a0b0b;
  --foreground: #f4f4f4;
}

body {
  font-family: "ChakraPetch";
  color: var(--foreground);
  background: var(--background);
  margin: 0;
  padding: 0;
}
